<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">Tarjetas de credito</h1>
      <div class="grid grid-cols-6">
        <div class="col-span-6 md:col-span-3">
          <div class="text-center">
            <p class="font-bold">Agregar tarjeta</p>
          </div>
          <div class="w-full">
            <app-tarjeta-credito/>
          </div>
        </div>
        <div class="col-span-6 md:col-span-3">
          <div class="text-center">
            <p class="font-bold">Listado de tarjetas</p>
          </div>
          <div class="w-full">
            <app-list-tarjeta-credito></app-list-tarjeta-credito>
          </div>
        </div>
      </div>
  </div>
</section>
